<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Need more help? Try our helpful search functionality.
  <form action="http://www.lmgtfy.com" method="get">
    Search for: <input type="text" name="q">
    <input type="submit" value="Submit">
  </form>
</p>